Lenguaje de Marcas/Tema 3/E4/ej3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="alumno">
<xs:complexType> 
<xs:sequence> 
<xs:element name="nombre" type="xs:string"/>
<xs:element name="direccion">
<xs:complexType>
<xs:sequence> 
<xs:element name="calle" type="xs:string"/>
<xs:element name="numero" type="xs:string"/>
<xs:element name="ciudad" type="xs:string"/>
<xs:element name="provincia" type="xs:string"/>
</xs:sequence> 
</xs:complexType> 
</xs:element>
<xs:element name="telefono" type="xs:string"/>
</xs:sequence> 
<xs:attribute name="dni" type="xs:integer"/>
</xs:complexType>
</xs:element>
</xs:schema>